html {
	height: 100%;
}

body {
	background-color: #efeef8;
	color: #5c4f67;
	font-family: Consolas,monaco,monospace; 
	height: 100%;
	margin: 0;
	padding: 0;
}

hr {
	width: 100%;
	background-color: #f1e9f5;
	height: 3px;
	border: 0;
}

a {
	text-decoration: none;
	font-weight: bold;
}

a:hover {
	text-decoration: none;
}

a:active {
	text-decoration: none;
}

p { 
	margin:0px 0px 20px 0px;
}

pre {
	background-color: #eae9f4;
	padding:5px;
	border-radius: 5px;
}

input {
	padding: 4px;
	border: none;
	border-radius: 4px;
	margin-bottom: 2px;
	color: #5c4f67;
	outline: none;
	background-color: #efeef8;
	border: 2px dashed #e6e5ee;
}

img {
	max-width:100%;
	display: block;
	margin: auto;
}

.scrollbar::-webkit-scrollbar {
	width: 10px;
}

.scrollbar::-webkit-scrollbar {
	width: 10px;
}

.scrollbar::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgb(176 169 185);
}

.scrollbar::-webkit-scrollbar-corner {
}

.bold {
	font-weight: bold;
}

.regular_weight {
	font-weight: normal;
}

.center {
	box-sizing: content-box;
	max-width: 60ch;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-direction: column;
}

.logo {
	width: 60%;
}

.container {
	max-width: 100ch;
}

.light_blue {
	color: #93cae8;
}

a {
	color: #d57da0;
}

h1,h2,h3,h4,h5,h6 {
	color: #8085ac;
}

.pink2 {
	color: #f2b4c2;
}

.violet {
	color: #b38fd9;
}

.italic {
	font-style: italic;
}

.editor_button {
	padding:5px;
	background-color: #0000000a;
	color: #7e748a;
	border: 0px;
	border-radius: 5px;
	padding: 10px;
	z-index: 99;
}

#mdbox {
	height:100%;
	width:95%;
	border:none;
	outline: none;
	padding: 10px;

	background-color: #efeef8;
	color: #5c4f67;
	font-family: Consolas,monaco,monospace; 
	resize: none;

	overflow: scroll;
}

#preview {
	padding: 10px;
	height:100%;
	max-height: 100vh;
  	overflow: scroll;
}

#preview p {
	word-wrap: anywhere;
}

.kanna_corner {
	position: relative;
	right: -10%;
	position: absolute;
    bottom: 0px;
    right: 0px;
	width: 120px;
	z-index: -1;
}

.editor_parent {
	grid-template-rows: 5% 95%;
	display: grid;
	height:95%;
}

#editor_header {
	grid-template-columns:50% 50%;
	display:grid;
}

#editor_boxes {
	grid-template-columns:50% 50%;
	display:grid;
}

.left-half {
  grid-column: 1;
  height: 90%;
}

.right-half {
  grid-column: 2;
  height: 90%;
}

.header__left {
	width: 70%;
}

.blog_header {
	text-align: center;
    padding-bottom: 15px;
    text-align: center;
}

.content {
	padding: 10px;
    background-color: #f6f6fb57;
    border: 1px dashed #c1c1c1;
}

.moreA {
	margin-bottom: 20px;
	margin-top:20px;
}

header {
	grid-column: span 2;
	padding: 1rem;
	display: flex;
	justify-content: space-between;
}

form {
	display: contents;
}

#html_content {
	display: none;
}